<app-list-page [titleTemplateRef]="titleTemplate" [toolbarTemplateRef]="toolbarTemplate" [columns]="columns" [dataLoad]="dataLoad">
</app-list-page>

<ng-template #titleTemplate>
  <span class="mdi mdi-account-supervisor"></span>
  {{groupName}} メンバー
</ng-template>

<ng-template #toolbarTemplate>
  <span class="ms-auto"></span>
  <button *ngIf="canAddDeleteMember()" (click)="onAddMember()">
    <span class="mdi mdi-account-multiple-plus"></span>
  </button>
  <button *ngIf="canAddDeleteMember()" (click)="onDeleteMember()">
    <span class="mdi mdi-account-multiple-minus"></span>
  </button>
  <button class="mx-2" (click)="onEditMember()">
    <span class="mdi mdi-account-settings "></span>
  </button>
</ng-template>
