<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <ng-container *ngIf="serviceAvailable$ | async">
    <mat-toolbar class="app-toolbar" color="primary">
      <button mat-icon-button (click)="snav.toggle()">
        <img src="favicon.svg" width="32" height="32">
      </button>
      <button mat-button class="ps-0" routerLink="/home">
        <h1 class="app-name">Magic Lantern</h1>
      </button>
      <span class="flex-fill"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <span class="mdi mdi-account-circle"></span>
        {{ (user$ | async)?.userName }}
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="/logout">ログアウト</a>
      </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" opened="true">

        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>システム管理</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="px-1">
              <a mat-list-item routerLink="/admin/users">
                <span class="mdi mdi-human-male-female"></span>
                ユーザ
              </a>
              <a mat-list-item routerLink="/admin/realms">
                <span class="mdi mdi-certificate"></span>
                認証サーバ
              </a>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>グループ管理</mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <mat-nav-list class="px-1">
              <a mat-list-item routerLink="/student/courses">
                <mat-icon>school</mat-icon>
              </a>
            </mat-nav-list> -->
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>受講</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list class="px-1">
              <a mat-list-item routerLink="/student/courses">
                <span class="mdi mdi-school"></span>
                受講
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>


      </mat-sidenav>
      <mat-sidenav-content class="px-1">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>

  <ng-container *ngIf="!(serviceAvailable$ | async)">
    <mat-toolbar color="primary">
      <img src="favicon.svg" width="32" height="32">
      <h1 class="app-name">Magic Lantern</h1>
    </mat-toolbar>
    <div class="m-5">
      <div class="alert alert-danger" role="alert">
        現在、システムはご利用いただけません。
      </div>
    </div>
  </ng-container>
</div>
