<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <ng-container *ngIf="serviceAvailable$ | async">
    <mat-toolbar class="app-toolbar" color="primary">
      <button mat-icon-button (click)="snav.toggle()">
        <img src="favicon.svg" width="32" height="32">
      </button>
      <button mat-button class="ps-0" routerLink="/home">
        <h1 class="app-name">Magic Lantern</h1>
      </button>
      <span class="flex-fill"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <span class="mdi mdi-account-circle"></span>
        {{ (user$ | async)?.userName }}
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="/logout">ログアウト</a>
      </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" [autosize]="true">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" opened="true">

        <mat-tree [dataSource]="sideMenu" [treeControl]="sideMenuControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20px">
            <a mat-button [routerLink]="node.link">
              <span [class]="node.icon"></span>
              <span class="ms-1 fs-6">{{node.name}}</span>
            </a>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20px">
            <span class="mat-button fs-6">{{node.name}}</span>
          </mat-tree-node>
        </mat-tree>

      </mat-sidenav>
      <mat-sidenav-content class="px-1">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>

  <ng-container *ngIf="!(serviceAvailable$ | async)">
    <mat-toolbar color="primary">
      <img src="favicon.svg" width="32" height="32">
      <h1 class="app-name">Magic Lantern</h1>
    </mat-toolbar>
    <div class="m-5">
      <div class="alert alert-danger" role="alert">
        現在、システムはご利用いただけません。
      </div>
    </div>
  </ng-container>
</div>
