<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <div class="d-flex flex-column">
    <mat-form-field *ngIf="command.type != 'delete'; else readOnlyGroupName">
      <mat-label>グループ名</mat-label>
      <input matInput [(ngModel)]="groupNode.groupName">
    </mat-form-field>

    <ng-template #readOnlyGroupName>
      <div>
        <label>グループ名:</label>
        {{groupNode.groupName}}
      </div>
    </ng-template>

    <div *ngIf="groupNode.parentGroupName">
      <label>親グループ名:</label>
      {{groupNode.parentGroupName}}
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onOK()" cdkFocusInitial>OK</button>
  <button mat-stroked-button mat-dialog-close>キャンセル</button>
</div>
