<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
  <context defaultModelType="flat" id="mybatis-builder" targetRuntime="MyBatis3Kotlin">
    <property name="javaFileEncoding" value="UTF-8"/>

    <jdbcConnection connectionURL="${connectionURL}"
                    driverClass="${driverClass}"
                    password="${password}" userId="${userId}"/>

    <javaTypeResolver>
      <property name="useJSR310Types" value="true"/>
    </javaTypeResolver>

    <javaModelGenerator targetPackage="${targetPackage}" targetProject="${targetProject}" >
      <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <javaClientGenerator targetPackage="${targetPackage}" targetProject="${targetProject}" />

    <table schema="public" tableName="%" />

<!--    <table schema="public" tableName="topic" domainObjectName="TopicTable" >-->
<!--      <generatedKey column="topic_id" sqlStatement="JDBC" />-->
<!--    </table>-->

  </context>
</generatorConfiguration>