<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/slide :: layout ( ~{::body/content()} ) }">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<form method="post" action=".?action=NEXT">
  <div class="container">
    <div class="row mb-2">
      <div class="col">
        <span class="fs-2" th:text="${page.title}" ></span>
        <th:block th:if="${confirm == true}">
          <div th:if="${completed == false}" class="alert alert-info">以下の内容で回答します。</div>
          <div th:if="${completed == true}" class="alert alert-info">以下の内容で回答しました。</div>
        </th:block>
      </div>
    </div>
    <div class="row mb-2 fs-5" th:each="question : ${page.questions}">
      <div class="col">

        <!--/* 問題文 */-->
        <div>
          <span th:utext="${question.text}"></span>
        </div>

        <ul th:if="${question.type.name != 'Textarea'}" class="list-group list-group-flush">
          <!--/* 選択肢 */-->
          <li class="list-group-item d-flex" th:each="choice : ${question.choices}"
              th:with="choiceId=|${questionStat.index}-${choiceStat.index}|">

            <div class="form-check">
              <input th:if="${question.type.name == 'Radio'}" th:id="${choiceId}"
                     th:name="${questionStat.index}" th:value="${choiceStat.index}"
                     type="radio" class="form-check-input"
                     th:onclick="|return ${confirm != true};|"
                     th:checked="${answer[questionStat.index]?.contains(choiceStat.index.toString())}"
                     th:required="${question.required == true}">

              <input th:if="${question.type.name == 'Checkbox'}" th:id="${choiceId}"
                     th:name="${questionStat.index}" th:value="${choiceStat.index}"
                     type="checkbox" class="form-check-input"
                     th:onclick="|return ${confirm != true};|"
                     th:checked="${answer[questionStat.index]?.contains(choiceStat.index.toString())}">

              <label class="form-check-label" th:for="${choiceId}" th:utext="${choice}"></label>
            </div>
          </li>
        </ul>
        <textarea class="w-100" th:if="${question.type.name == 'Textarea'}"
                  th:name="${questionStat.index}"
                  rows="5"
                  th:readonly="${confirm == true}"
                  th:required="${question.required == true}"
                  th:text="${answer[questionStat.index]?.get(0)}"></textarea>

      </div>
    </div>
  </div>
  <input type="submit" style="display:none">
</form>

<!--/*-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!--*/-->
</body>
</html>