<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <div class="d-flex flex-row">
    <app-list [dataLoad]="dataLoad" [pageSize]="10" [hidePageSize]="true">

      <app-list-column name="operation" [sort]="false">
        <ng-template listCell let-row="row">
          <mat-checkbox  color="warn" [(ngModel)]="row.selected"></mat-checkbox>
        </ng-template>
        <ng-template listHeaderCell>
          <mat-checkbox color="warn" [(ngModel)]="selectAll" (click)="$event.stopPropagation()" >選択</mat-checkbox>
        </ng-template>
      </app-list-column>

      <app-list-column name="userName" headerName="氏名"></app-list-column>
      <app-list-column *ngIf="command.type != 'add'" name="roleName" headerName="権限"></app-list-column>

    </app-list>

    <div class="d-flex flex-column ms-5">
      <ng-container *ngIf="command.type != 'delete'">
        <label>権限:</label>
        <mat-checkbox *ngIf="!isDefaultGroup()" class="mb-2" color="warn" [(ngModel)]="roles['GROUP']">グループ</mat-checkbox>
        <mat-checkbox class="mb-2" color="warn" [(ngModel)]="roles['LESSON']">講座</mat-checkbox>
        <mat-checkbox class="mb-2" color="warn" [(ngModel)]="roles['STUDY']">受講</mat-checkbox>
      </ng-container>

      <div class="d-flex flex-row mt-auto">
        <button mat-raised-button color="primary" (click)="onOK()" cdkFocusInitial>OK</button>
        <button mat-stroked-button mat-dialog-close>キャンセル</button>
      </div>
    </div>
  </div>
</div>
