<app-group-page [dataLoad]="dataLoad" [view]="'tree'">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!--
    <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="mat-tree-node" >
        <span class="mdi mdi-minus"></span>
        {{node.group.groupName}}
      </div>
    </mat-nested-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <div>
        <div class="mat-tree-node">

        <button mat-icon-button matTreeNodeToggle>
          <span class="mdi" [class.mdi-chevron-down]="treeControl.isExpanded(node)"
            [class.mdi-chevron-right]="!treeControl.isExpanded(node)">
          </span>
        </button>
        {{node.group.groupName}}
        </div>
        <div [class.d-none]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </div>
    </mat-nested-tree-node>
-->

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <span class="mdi mdi-minus"></span>
      {{node.name}}
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle>
        <span class="mdi" [class.mdi-chevron-down]="treeControl.isExpanded(node)"
          [class.mdi-chevron-right]="!treeControl.isExpanded(node)">
        </span>
      </button>
      {{node.name}}
    </mat-tree-node>

  </mat-tree>
</app-group-page>
