<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:fragment="layout(body)">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <title>Magic Lantern</title>

  <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">

  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"
        rel="stylesheet">
  <link th:href="@{/public/style.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark px-1 fixed-top">
  <div class="container-fluid">
    <a th:href="@{/}" class="navbar-brand fs-3 d-inline">
      <img th:src="@{/favicon.svg}" width="32" height="32">
      <span class="fs-4">Magic Lantern</span>
    </a>
  </div>
</nav>

<div th:insert="${body}" style="margin-top: 100px"></div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>