<app-page [dataLoad]="dataLoad" (onLoadData)="onLoadData()">
  <ng-template pageTitle>
    <span class="mdi mdi-school"></span>
    講座
  </ng-template>

  <ng-template pageToolbar>
    <span class="ms-auto"></span>
    <button class="mx-2" (click)="onAddLesson()">
      <span class="mdi mdi-layers-plus"></span>
    </button>
  </ng-template>


  <app-list [columns]="columns" [dataLoad]="dataLoad">
    <app-list-column name="groupName" headerName="グループ">
      <ng-template listCell let-row="row">
        {{row.group.groupName}}
      </ng-template>
    </app-list-column>
    <app-list-column name="slideTitle" headerName="教材タイトル">
      <ng-template listCell let-row="row">
        {{row.slide.config.title}}
      </ng-template>
    </app-list-column>
    <app-list-column name="operation" [sort]="false">
      <ng-template listCell let-row="row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="mdi mdi-dots-vertical"></span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onDeleteLesson(row)">講座削除</button>
        </mat-menu>
      </ng-template>
    </app-list-column>

  </app-list>

</app-page>
