<app-page [dataLoad]="dataLoad" (onLoadData)="onLoadData()">
  <ng-template pageTitle>
    <span class="mdi mdi-school"></span>
    講座
  </ng-template>

  <ng-template pageToolbar>
    <span class="ms-auto"></span>
    <button class="mx-2" (click)="onAddLesson()">
      <span class="mdi mdi-layers-plus"></span>
    </button>
  </ng-template>


  <app-list [dataLoad]="dataLoad">
    <app-list-column name="title" headerName="グループ - 教材タイトル">
      <ng-template listCell let-row="row">
        <a routerLink="/lesson/list/{{row.lessonId}}">{{ row.title }}</a>
      </ng-template>
    </app-list-column>
    <app-list-column name="studentCount" headerName="受講者数">
    </app-list-column>
    <app-list-column name="notStartCount" headerName="未着手数">
    </app-list-column>
    <app-list-column name="onGoingCount" headerName="実施中数">
    </app-list-column>
    <app-list-column name="passCount" headerName="合格数">
    </app-list-column>
    <app-list-column name="failCount" headerName="不合格数">
    </app-list-column>
    <app-list-column name="excludedCount" headerName="対象外数">
    </app-list-column>

    <app-list-column name="operation" [sort]="false">
      <ng-template listCell let-row="row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="mdi mdi-dots-vertical"></span>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/lesson/list/{{row.lessonId}}">講座状況</a>
          <button mat-menu-item (click)="onDeleteLesson(row)">講座削除</button>
        </mat-menu>
      </ng-template>
    </app-list-column>

  </app-list>

</app-page>
