<mat-card>
  <mat-card-header class="bg-primary bg-gradient text-light">
    <mat-card-title class="my-1">
      <span class="mdi mdi-certificate"></span>
      認証サーバ
    </mat-card-title>

    <button mat-mini-fab matTooltip="再ロード" class="ms-auto" (click)="onLoad()">
      <span class="mdi mdi-sync mdi-spin" [class.mdi-spin]="isLoading"></span>
    </button>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="realm">
        <th mat-header-cell *matHeaderCellDef>認証サーバ </th>
        <td mat-cell *matCellDef="let element"> {{element.realmName}} </td>
      </ng-container>

      <ng-container matColumnDef="syncAt">
        <th mat-header-cell *matHeaderCellDef>最終同期日時</th>
        <td mat-cell *matCellDef="let element"> {{element.syncAt}} </td>
      </ng-container>

      <tr mat-header-row *matAutoHeaderRowDef></tr>
      <tr mat-row *matAutoRowDef="let row"></tr>

    </table>
    <mat-paginator
      [pageSize]="20"
      [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
