<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/page :: layout ( ~{::body/content()} ) }">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
<div class="container-sm">
<div class="row justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">ログイン</h5>

      <div class="accordion" id="logins">
        <div class="accordion-item" th:if="${!oauth2.isEmpty()}">
          <h2 class="accordion-header" id="oauth2LoginHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#oauth2Login" aria-expanded="true" aria-controls="oauth2Login">
              Single Sign-On
            </button>
          </h2>
          <div id="oauth2Login" class="accordion-collapse collapse show" aria-labelledby="oauth2LoginHeader" data-bs-parent="#logins">
            <div class="accordion-body">
              <div class="alert alert-info" role="alert">
                認証サーバに登録されているアカウントでログインします。
              </div>

              <div class="w-100">
                <a th:each="client : ${oauth2}" th:href="@{/oauth2/authorization/{id}(id=${client.registrationId})}" th:text="${client.clientName}"/>
              </div>

            </div>
          </div>

        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="formLoginHeader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#formLogin" aria-expanded="false" aria-controls="formLogin">
              System
            </button>
          </h2>
          <div id="formLogin" class="accordion-collapse collapse" aria-labelledby="formLoginHeader" data-bs-parent="#logins">
            <div class="accordion-body">
              <div class="alert alert-info" role="alert">
                システムに登録されているアカウントでログインします。
              </div>

              <div th:if="!${#strings.isEmpty(error)}" class="alert alert-danger" role="alert" th:text="${error}">
              </div>

              <form class="p-2" th:action="@{/login}" method="post">
                <div class="mb-3">
                  <label for="username">アカウント</label>
                  <input type="username" class="form-control" id="username" name="username" required value="admin">
                </div>

                <div class="mb-3">
                  <label for="password">パスワード</label>
                  <input type="password" class="form-control" id="password" name="password" required value="password123">
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">実行</button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
</div>

<!--/*-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!--*/-->
</body>
</html>