/* You can add global styles to this file, and also import other style files */

// $material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
// @import '~material-design-icons-iconfont/src/material-design-icons';
@import '~@mdi/font/scss/materialdesignicons.scss';

.mdi {
  font-size: 24px;
}

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/forms/form-control';

// angular-material
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// mat-nav-listで文字が16ptと小さくなるのを解除
.mat-list-base .mat-list-item {
  font-size: initial
}


th.mat-column-operation {
  width: 24px !important;
  padding-right: 8px !important;
}

td.mat-column-operation {
  padding-right: 8px !important;
}

// .mat-dialog-content {
//   overflow: hidden !important;
// }

// .mat-dialog-title {
//   margin-bottom: 0px !important;
// }

// .mat-dialog-container {
//   padding: 12px !important;
// }
