<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <ng-container *ngTemplateOutlet="data.contentTemplateRef || defaultContent; context:{data: data}"></ng-container>
</div>

<div mat-dialog-actions *ngIf="data.onlyOk; else okCancel">
  <button mat-raised-button color="primary" mat-dialog-close="true" cdkFocusInitial>確認</button>
</div>

<ng-template #okCancel>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close="true" cdkFocusInitial>OK</button>
    <button mat-stroked-button mat-dialog-close>キャンセル</button>
  </div>
</ng-template>

<ng-template #defaultContent let-data="data">
  {{ data.message }}
</ng-template>
