<app-group-page [view]="'list'" [dataLoad]="dataLoad" [onLoadData]="onLoadData">
  <app-list [dataLoad]="dataLoad">
    <app-list-column name="groupName" headerName="グループ名"></app-list-column>
    <app-list-column name="parentGroupName" headerName="所属グループ名"></app-list-column>
    <app-list-column name="memberCount" headerName="メンバー数"></app-list-column>
    <app-list-column name="operation" [sort]="false">
      <ng-template listCell let-row="row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span class="mdi mdi-dots-vertical"></span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEditGroup(row)">グループ編集</button>
          <button *ngIf="!isEntireGroup(row)" mat-menu-item (click)="onDeleteGroup(row)">グループ削除</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onNewChildGroup(row)">子グループ作成</button>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="/group/{{row.groupId}}/members">メンバー参照</a>
          <button *ngIf="!isEntireGroup(row)" mat-menu-item (click)="onAddMember(row)">メンバー追加</button>
          <button mat-menu-item (click)="onEditMember(row)">メンバー権限編集</button>
          <button *ngIf="!isEntireGroup(row)" mat-menu-item (click)="onDeleteMember(row)">メンバー削除</button>
        </mat-menu>
      </ng-template>
    </app-list-column>

  </app-list>
</app-group-page>


